{% load static %}

{% block body %}

{% include 'admin_navigation.html'%}

<sccript>
   
</sccript>

<marquee style="font-family:'Monotype Corsiva';font-size:25px;color:darkcyan;background-color:black;font-weight:bold;margin-top:1%">
    change password
</marquee>
<hr>
<form class="container mt-5" method="post" name="changepassword"onsubmit="return checkpassword">
    {% csrf_token %}
    <label><b>Current password</b></label>
    <input type="password" class="form-control" name="currentpassword" required="true" >
    
    <label><b>New password</b></label>
    <input type="password" class="form-control" name="newpassword" required="true" >

    <label><b>Confirm New password</b></label>
    <input type="password" class="form-control" name="confirmpassword" required="true" >
    
    
    <input type="submit" value="login" class="btn btn-primary" style="margin-top:2%; color:darkcyan;background-color : black">
</form>

{% if error == "no" %}
<script>
    alert("your password updated successfuly");
    window.location = ("{% url 'Logout' %}")
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something Went Wrong , Try Again");
</script>
{% endif %}

{% if error == "not" %}
<script>
    alert("your current password is wrong");
</script>
{% endif %}



{% endblock %}